html, body {
    background-color: grey;
    height: 99%;
    margin: 0;
}

#header {
    width: 86%;
    background-color: green;
    padding: 1%;
    color: white;
    font-weight: bold;
    font-size: 170%;
    float: left;
}
#manage {
    width: 10%;
    float: right;
    background-color: green;
    padding: 1%;
    color: white;
    font-weight: bold;
    font-size: 180%;
}
#content {
    float: left;
    padding: 1%;
    width: 72%;
    color: white;
    font-size: 160%;
}
#menu {
    background-color: dimgrey;
    float: left;
    padding: 1%;
    width: 24%;
    height: auto;
    color: white;
}
#footer {
    background-color: green;
    color: white;
    width: 98%;
    padding: 1%;
    clear: both;
    font-weight: bold;
}
.s {
    font-weight: bold;
}
a {
    text-decoration: none;
    color: black;
}
.dow {
    background-color: green;
    height: 5%;
    color: white;
    font-size: 100%;
}
.del {
    background-color: red;
    height: 5%;
    color: white;
    font-size: 100%;
}